In [5]:
import pyspark as ps
from pyspark.sql import SparkSession

In [9]:
spark1 = SparkSession.builder.appName('Ops').getOrCreate()

In [23]:
path = "user.json"
user_df = spark1.read.json(path)

In [24]:
user_df.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [25]:
#business_df.createOrReplaceTempView("business")

In [27]:
user_df.createOrReplaceTempView("user")

In [29]:
sample_user_query = spark1.sql("SELECT  from user")

In [30]:
sample_user_query.show()

+-----------------+
|avg(review_count)|
+-----------------+
|22.28769779945246|
+-----------------+

In [18]:
#states_breakdown_df = spark1.sql("SELECT state, count(*) from business group by state")

In [21]:
states_breakdown_df.show(truncate = False)

+-----+--------+
|state|count(1)|
+-----+--------+
|AZ   |56686   |
|SC   |1162    |
|BAS  |1       |
|NJ   |1       |
|VA   |2       |
|QC   |9219    |
|BC   |1       |
|NV   |36312   |
|WI   |5154    |
|CA   |19      |
|NE   |2       |
|CT   |3       |
|NC   |14720   |
|VT   |2       |
|IL   |1932    |
|XGL  |1       |
|WA   |3       |
|AL   |3       |
|XGM  |4       |
|OH   |14697   |
+-----+--------+
only showing top 20 rows