In [1]:
import json
import sqlite3

In [2]:
#NOTE: business_copy2.json file created by bash command: sed '1s/^/[/;$!s/$/,/;$s/$/]/' business.json > business_copy2.json
with open('business_copy2.json') as business_json_file:
    data = json.loads(business_json_file.read())

In [3]:
#data[3].keys()

dict_keys(['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours'])

In [4]:
#conn = sqlite3.connect('yelp.db')

In [5]:
conn = sqlite3.connect('yelp.db')
c=conn.cursor()

In [6]:
c.execute("DELETE FROM review")
c.execute("DELETE FROM business")
c.execute("DELETE FROM user")

In [7]:
c.execute("CREATE TABLE IF NOT EXISTS business (id varchar(22) PRIMARY KEY, name VARCHAR(255), neighborhood VARCHAR(255), address VARCHAR(255), city VARCHAR(255), state VARCHAR(255), postal_code VARCHAR(255), latitude FLOAT, longitude FLOAT, stars FLOAT, review_count INT, is_open TINYINT)")

In [8]:
c.execute("SELECT COUNT(*) from business") #not important right now. should be 0

In [9]:
rows = c.fetchall() #see above comment
for row in rows:
    print(row)

(0,)

In [10]:
len(data) #should be 192609 (rows from business)

192609

In [11]:
data[55465]

{'business_id': 'av4PscnPle7gP0Zeiyp1-Q',
 'name': 'Rudy\'s "Country Store" and Bar-B-Q',
 'address': '1733 N Higley Rd',
 'city': 'Gilbert',
 'state': 'AZ',
 'postal_code': '85234',
 'latitude': 33.3800548309,
 'longitude': -111.7219710258,
 'stars': 3.5,
 'review_count': 88,
 'is_open': 1,
 'attributes': {'RestaurantsAttire': "u'casual'",
  'RestaurantsGoodForGroups': 'True',
  'WiFi': "'no'",
  'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': True, 'breakfast': False}",
  'RestaurantsReservations': 'False',
  'RestaurantsPriceRange2': '1',
  'Caters': 'True',
  'HasTV': 'True',
  'BusinessAcceptsCreditCards': 'True',
  'RestaurantsTableService': 'False',
  'RestaurantsTakeOut': 'True',
  'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}",
  'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
  'RestaurantsDelivery': 'False',
  'OutdoorSeating': 'False',
  'Alcohol': "'beer_and_wine'",
  'GoodForKids': 'True'},
 'categories': 'Restaurants, Barbeque',
 'hours': {'Monday': '7:0-22:0',
  'Tuesday': '7:0-22:0',
  'Wednesday': '7:0-22:0',
  'Thursday': '7:0-22:0',
  'Friday': '7:0-22:30',
  'Saturday': '7:0-22:30',
  'Sunday': '7:0-22:0'}}

In [12]:
c.execute("DELETE FROM review")

In [13]:
errors=[]
for d in data:
    a=d['business_id']
    keys = d.keys()
    fields=['id']
    values=[d['business_id']]
    if 'name' in keys:
        fields.append('name')
        values.append(d['name'])
    if 'neighborhood' in keys:
        fields.append('neighborhood')
        values.append(d['neighborhood'])
    if 'address' in keys:
        fields.append('address')
        values.append(d['address'])
    if 'city' in keys:
        fields.append('city')
        values.append(d['city'])
    if 'state' in keys:
        fields.append('state')
        values.append(d['state'])
    if 'postal_code' in keys:
        fields.append('postal_code')
        values.append(d['postal_code'])
    if 'latitude' in keys:
        fields.append('latitude')
        values.append(d['latitude'])
    if 'longitude' in keys:
        fields.append('longitude')
        values.append(d['longitude'])
    if 'stars' in keys:
        fields.append('stars')
        values.append(d['stars'])
    if 'review_count' in keys:
        fields.append('review_count')
        values.append(d['review_count'])
    if 'is_open' in keys:
        fields.append('is_open')
        values.append(d['is_open'])
    
    fields_str = '(' + str(fields)[1:-1] + ')'
    values_str = '(' + str(values)[1:-1] + ')'
    try:
        c.execute("INSERT INTO business"+fields_str+" VALUES " + values_str)
    except:
        try:
            test="("
            for v in values:
                if isinstance(v, str):
                    test += v.replace('"','') + ", "
                else:
                    test += str(v) + ", "
            test=test[:-2]
            test+=")"
            #values_str=clean_escape_quote(test)
            values_str = test.replace('"', '')
            c.execute("INSERT INTO business"+fields_str+" VALUES " + values_str)
        except:
            errors.append(d)

#the below 7 inserts had errors caused by single or double quotes in review contents

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('av4PscnPle7gP0Zeiyp1-Q', 'Rudy\'\'s \"\"Country Store\"\" and Bar-B-Q', '1733 N Higley Rd', 'Gilbert', 'AZ', '85234', 33.3800548309, -111.7219710258, 3.5, 88, 1)")

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('SdO1UHwE8Rjz3Pz2lBUa5w', 'Rudy\'\'s \"\"Country Store\"\" and Bar-B-Q', '845 N Litchfield Rd', 'Goodyear', 'AZ', '85338', 33.4555637362, -112.3575907946, 3.5, 459, 1)")

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('f2LuojiTQxXVAFRMf-h6gQ', 'Isaac \"\"Ike\"\" Moore | Synergy Sotheby\'\'s International Realty\', '10100 W Charleston Blvd, Ste 160', 'Las Vegas', 'NV', '89135', 36.159548, -115.3172336, 5.0, 3, 1)")

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('YHX61tYzUKlz9H4gdROlDA', 'Boyd\'\'s Car Wash \"\" N\"\" Detail', '500 East Morehead St, Parking Garage Level B', 'South Charlotte', 'NC', '28202', 35.2171602, -80.848097, 5.0, 38, 1)")

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('GHSQr2tUukV1nF6W4INYJw', 'Hali\'\'s Angels The Hali Gillin Group', '10424 S Eastern Ave, Ste 200, Keller Williams of Southern Nevada', 'Henderson', 'NV', '89052', 36.0024846, -115.1067783, 4.5, 7, 1)")

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('j2c3pdNlEnm0P11m0Zp4hg', 'Pets R Us Grooming Salon', '4210 Hudson Dr', 'Stow', 'OH', '44224', 41.1827109, -81.4730782, 3.5, 6, 0)")

c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('wHVWfC_a6koeiJXAu78e1g', 'Rudy\'\'s \"\"Country Store\"\" and Bar-B-Q', '7300 W Chandler Blvd', 'Chandler', 'AZ', '85226', 33.3057389863, -111.9675305486, 4.0, 835, 1)")

In [14]:
len(errors) #should be 7. not super important

7

In [15]:
# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('av4PscnPle7gP0Zeiyp1-Q', 'Rudy\'\'s \"\"Country Store\"\" and Bar-B-Q', '1733 N Higley Rd', 'Gilbert', 'AZ', '85234', 33.3800548309, -111.7219710258, 3.5, 88, 1)")

# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('SdO1UHwE8Rjz3Pz2lBUa5w', 'Rudy\'\'s \"\"Country Store\"\" and Bar-B-Q', '845 N Litchfield Rd', 'Goodyear', 'AZ', '85338', 33.4555637362, -112.3575907946, 3.5, 459, 1)")

# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('f2LuojiTQxXVAFRMf-h6gQ', 'Isaac \"\"Ike\"\" Moore | Synergy Sotheby\'\'s International Realty\', '10100 W Charleston Blvd, Ste 160', 'Las Vegas', 'NV', '89135', 36.159548, -115.3172336, 5.0, 3, 1)")

# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('YHX61tYzUKlz9H4gdROlDA', 'Boyd\'\'s Car Wash \"\" N\"\" Detail', '500 East Morehead St, Parking Garage Level B', 'South Charlotte', 'NC', '28202', 35.2171602, -80.848097, 5.0, 38, 1)")

# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('GHSQr2tUukV1nF6W4INYJw', 'Hali\'\'s Angels The Hali Gillin Group', '10424 S Eastern Ave, Ste 200, Keller Williams of Southern Nevada', 'Henderson', 'NV', '89052', 36.0024846, -115.1067783, 4.5, 7, 1)")

# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('j2c3pdNlEnm0P11m0Zp4hg', 'Pets R Us Grooming Salon', '4210 Hudson Dr', 'Stow', 'OH', '44224', 41.1827109, -81.4730782, 3.5, 6, 0)")

# c.execute("INSERT INTO business('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open') VALUES('wHVWfC_a6koeiJXAu78e1g', 'Rudy\'\'s \"\"Country Store\"\" and Bar-B-Q', '7300 W Chandler Blvd', 'Chandler', 'AZ', '85226', 33.3057389863, -111.9675305486, 4.0, 835, 1)")

IntegrityError: UNIQUE constraint failed: business.id

In [16]:
# fields_str

"('id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open')"

In [17]:
# def clean_escape_quote(s):
#     copy_str=""
#     count=0
#     for c in s:
#         if c == "'":
#             copy_str+="''"
#         elif c == '"':
#             copy_str += '""'
#         else:
#             copy_str+=c
#     return copy_str
# clean_escape_quote(values_str)

"(''c1f_VAX1KIK8-JoVhjbYOw'', ''Oriental Relax'', ''3735 S Las Vegas Blvd'', ''Las Vegas'', ''NV'', ''89109'', 36.1072672, -115.1719204, 4.0, 3, 0)"

h
e
l
l
o

In [135]:
# d={"business_id":"av4PscnPle7gP0Zeiyp1-Q","name":"Rudy's \"Country Store\" and Bar-B-Q","address":"1733 N Higley Rd","city":"Gilbert","state":"AZ","postal_code":"85234","latitude":33.3800548309,"longitude":-111.7219710258,"stars":3.5,"review_count":88,"is_open":1,"attributes":{"RestaurantsAttire":"u'casual'","RestaurantsGoodForGroups":"True","WiFi":"'no'","GoodForMeal":"{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': True, 'breakfast': False}","RestaurantsReservations":"False","RestaurantsPriceRange2":"1","Caters":"True","HasTV":"True","BusinessAcceptsCreditCards":"True","RestaurantsTableService":"False","RestaurantsTakeOut":"True","Ambience":"{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}","BusinessParking":"{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}","RestaurantsDelivery":"False","OutdoorSeating":"False","Alcohol":"'beer_and_wine'","GoodForKids":"True"},"categories":"Restaurants, Barbeque","hours":{"Monday":"7:0-22:0","Tuesday":"7:0-22:0","Wednesday":"7:0-22:0","Thursday":"7:0-22:0","Friday":"7:0-22:30","Saturday":"7:0-22:30","Sunday":"7:0-22:0"}}

In [19]:
# values

['c1f_VAX1KIK8-JoVhjbYOw',
 'Oriental Relax',
 '3735 S Las Vegas Blvd',
 'Las Vegas',
 'NV',
 '89109',
 36.1072672,
 -115.1719204,
 4.0,
 3,
 0]

In [20]:
# str(values)

"['c1f_VAX1KIK8-JoVhjbYOw', 'Oriental Relax', '3735 S Las Vegas Blvd', 'Las Vegas', 'NV', '89109', 36.1072672, -115.1719204, 4.0, 3, 0]"

In [21]:
# values[1]

'Oriental Relax'

In [22]:
# test="("
# for v in values:
#     if isinstance(v, str):
#         test += v + ", "
#     else:
#         test += str(v) + ", "
# test=test[:-2]
# test+=")"

In [23]:
# test

'(c1f_VAX1KIK8-JoVhjbYOw, Oriental Relax, 3735 S Las Vegas Blvd, Las Vegas, NV, 89109, 36.1072672, -115.1719204, 4.0, 3, 0)'

In [24]:
#NOTE: user_copy.json file created by bash command: sed '1s/^/[/;$!s/$/,/;$s/$/]/' user.json > user.json
with open('user_copy.json') as f: #file to large. this probably won't work. need to split up
    data=json.loads(f.read())

OSError: [Errno 22] Invalid argument

OSError: [Errno 22] Invalid argument

In [25]:
with open('user_copy_1_25000.json') as user_copy_file: 
    data1 = json.loads(user_copy_file.read())          

#entries 1-25000. this file manually created using command
#sed -n '1,25000p' user_copy.txt > user_copy_1_25000.txt
#Then going into the file manually and putting a closing bracket at the end and deleting comma (keeping in array format)

In [27]:
len(data1) #a check. should be 25000

25000

In [28]:
with open('user_copy_25000_50000.json') as user_copy_file: #see comments above
    data2 = json.loads(user_copy_file.read())

In [29]:
len(data2)

25000

In [30]:
with open('user_copy_50001_100000.json') as user_copy_file:
    data3 = json.loads(user_copy_file.read())

In [31]:
len(data3)

50000

In [32]:
with open('user_copy_100001_500000.json') as user_copy_file:
    data4 = json.loads(user_copy_file.read())

In [33]:
len(data4)

400000

In [34]:
with open('user_copy_500001_1000000.json') as user_copy_file:
    data5 = json.loads(user_copy_file.read())

In [35]:
len(data5)

500000

In [36]:
with open('user_copy_1000001_1637138.json') as user_copy_file:
    data6 = json.loads(user_copy_file.read())

In [37]:
len(data6)

637138

In [41]:
# conn = sqlite3.connect('yelp.db')
# c=conn.cursor()

In [38]:
c.execute("CREATE TABLE IF NOT EXISTS user (id varchar(22) PRIMARY KEY, name VARCHAR(255), review_count INT, yelping_since DATETIME, useful INT, funny INT, cool INT, fans INT, average_stars FLOAT, compliment_hot INT, compliment_more INT, compliment_profile INT, compliment_cute INT, compliment_list INT, compliment_note INT, compliment_plain INT, compliment_cool INT, compliment_funny INT, compliment_writer INT, compliment_photos INT)")

In [39]:
rows = c.fetchall()
for row in rows:
    print(row)

KeyError: 'user_id'

In [44]:
errors=[]
for data in [data1, data2, data3, data4, data5, data6]:
    for d in data:
        a=d['user_id']
        keys = d.keys()
        fields=['id']
        values=[d['user_id']]
        if 'name' in keys:
            fields.append('name')
            values.append(d['name'])
        if 'review_coung' in keys:
            fields.append('review_coung')
            values.append(d['review_coung'])
        if 'yelping_since' in keys:
            fields.append('yelping_since')
            values.append(d['yelping_since'])
        if 'useful' in keys:
            fields.append('useful')
            values.append(d['useful'])
        if 'funny' in keys:
            fields.append('funny')
            values.append(d['funny'])
        if 'cool' in keys:
            fields.append('cool')
            values.append(d['cool'])
        if 'fans' in keys:
            fields.append('fans')
            values.append(d['fans'])
        if 'average_stars' in keys:
            fields.append('average_stars')
            values.append(d['average_stars'])
        if 'compliment_hot' in keys:
            fields.append('compliment_hot')
            values.append(d['compliment_hot'])
        if 'compliment_more' in keys:
            fields.append('compliment_more')
            values.append(d['compliment_more'])
        if 'compliment_profile' in keys:
            fields.append('compliment_profile')
            values.append(d['compliment_profile'])
        if 'compliment_cute' in keys:
            fields.append('compliment_cute')
            values.append(d['compliment_cute'])
        if 'compliment_list' in keys:
            fields.append('compliment_list')
            values.append(d['compliment_list'])
        if 'compliment_note' in keys:
            fields.append('compliment_note')
            values.append(d['compliment_note'])
        if 'compliment_plain' in keys:
            fields.append('compliment_plain')
            values.append(d['compliment_plain'])
        if 'compliment_cool' in keys:
            fields.append('compliment_cool')
            values.append(d['compliment_cool'])
        if 'compliment_funny' in keys:
            fields.append('compliment_funny')
            values.append(d['compliment_funny'])
        if 'compliment_writer' in keys:
            fields.append('compliment_writer')
            values.append(d['compliment_writer'])
        if 'compliment_photos' in keys:
            fields.append('compliment_photos')
            values.append(d['compliment_photos'])            

        fields_str = '(' + str(fields)[1:-1] + ')'
        values_str = '(' + str(values)[1:-1] + ')'
        try:
            c.execute("INSERT INTO user"+fields_str+" VALUES " + values_str)
        except:
            errors.append(d)

In [45]:
len(errors) #should be 0

0

In [46]:
c.execute("SELECT * FROM user LIMIT 10") #just testing that table was filled properly. execute below cell

In [47]:
rows = c.fetchall()
for row in rows:
    print(row)

('l6BmjZMeQD3rDxWUbiAiow', 'Rashmi', None, '2013-10-08 23:11:33', 84, 17, 25, 5, 4.03, 2, 0, 0, 0, 0, 1, 1, 1, 1, 2, 0)
('4XChL029mKr5hydo79Ljxg', 'Jenna', None, '2013-02-21 22:29:06', 48, 22, 16, 4, 3.63, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0)
('bc8C_eETBWL0olvFSJJd0w', 'David', None, '2013-10-04 00:16:10', 28, 8, 10, 0, 3.71, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
('dD0gZpBctWGdWo9WlGuhlA', 'Angela', None, '2014-05-22 15:57:30', 30, 4, 14, 5, 4.85, 1, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0)
('MM4RJAeH6yuaN8oZDSt0RA', 'Nancy', None, '2013-10-23 07:02:50', 1114, 279, 665, 39, 4.08, 28, 1, 0, 0, 1, 16, 57, 80, 80, 25, 5)
('0rK89TS8xqy1wI4nYI1wfw', 'Marilyn', None, '2011-06-23 08:05:13', 3475, 2424, 3048, 186, 4.2, 350, 46, 50, 44, 3, 221, 404, 483, 483, 149, 195)
('TEtzbpgA2BFBrC0y0sCbfw', 'Keane', None, '2006-02-15 18:29:35', 13311, 19356, 15319, 696, 4.39, 5233, 314, 333, 889, 152, 1600, 3635, 4991, 4991, 1086, 428)
('KGuqerdeNhxzXZEyBaqqSw', 'Andre', None, '2014-06-07 01:50:09', 1, 0, 1, 0, 4.33, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
('T0gWkTHWRChVUe_Dn1F8nw', 'Tanya', None, '2005-07-20 22:38:17', 1630, 693, 1244, 57, 4.21, 60, 16, 7, 7, 3, 31, 72, 95, 95, 34, 2)
('NQffx45eJaeqhFcMadKUQA', 'Trace', None, '2008-12-10 22:59:45', 202, 70, 185, 15, 4.53, 13, 3, 0, 2, 0, 12, 8, 14, 14, 3, 5)

In [65]:
#c.close()

In [41]:
# conn = sqlite3.connect('yelp.db')
# c=conn.cursor()

In [48]:
with open('review_copy_1_1000000.json') as user_copy_file: #this file using sed command mentioned above
    data1 = json.loads(user_copy_file.read())

In [49]:
with open('review_copy_1000001_2000000.json') as user_copy_file:
    data2 = json.loads(user_copy_file.read())

In [50]:
with open('review_copy_2000001_3000000.json') as user_copy_file:
    data3 = json.loads(user_copy_file.read())

In [51]:
with open('review_copy_3000001_4000000.json') as user_copy_file:
    data4 = json.loads(user_copy_file.read())

In [52]:
with open('review_copy_4000001_5000000.json') as user_copy_file:
    data5 = json.loads(user_copy_file.read())

In [53]:
with open('review_copy_5000001_6000000.json') as user_copy_file:
    data6 = json.loads(user_copy_file.read())

In [54]:
with open('review_copy_6000001_6685900.json') as user_copy_file:
    data7 = json.loads(user_copy_file.read())

In [55]:
c.execute("CREATE TABLE IF NOT EXISTS review (id VARCHAR(22) PRIMARY KEY, stars INT, date DATETIME, text TEXT, useful INT, funny INT, cool INT, business_id VARCHAR(22), user_id VARCHAR(22), FOREIGN KEY(business_id) REFERENCES business(id), FOREIGN KEY(user_id) REFERENCES user(id))")

In [56]:
# c.execute("SELECT COUNT(*) FROM REVIEW")

In [57]:
# data1[0]

{'review_id': 'Q1sbwvVQXV2734tPgoKj4Q',
 'user_id': 'hG7b0MtEbXx5QzbzE6C_VA',
 'business_id': 'ujmEBvifdJM6h6RLv4wQIg',
 'stars': 1.0,
 'useful': 6,
 'funny': 1,
 'cool': 0,
 'text': 'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.',
 'date': '2013-05-07 04:34:36'}

In [58]:
# rows = c.fetchall()
# for row in rows:
#     print(row)

(0,)

In [59]:
#data1[0]

{'review_id': 'Q1sbwvVQXV2734tPgoKj4Q',
 'user_id': 'hG7b0MtEbXx5QzbzE6C_VA',
 'business_id': 'ujmEBvifdJM6h6RLv4wQIg',
 'stars': 1.0,
 'useful': 6,
 'funny': 1,
 'cool': 0,
 'text': 'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.',
 'date': '2013-05-07 04:34:36'}

In [60]:
errors=[] #This cell isby far the slowest (~25+ mins for me)
for data in [data1, data2, data3, data4, data5, data6, data7]:
    for d in data:
        a=d['review_id']
        keys = d.keys()
        fields=['id']
        values=[d['review_id']]
        if 'stars' in keys:
            fields.append('stars')
            values.append(d['stars'])
        if 'date' in keys:
            fields.append('date')
            values.append(d['date'])
        if 'text' in keys:
            fields.append('text')
            values.append(d['text'])
        if 'useful' in keys:
            fields.append('useful')
            values.append(d['useful'])
        if 'funny' in keys:
            fields.append('funny')
            values.append(d['funny'])
        if 'cool' in keys:
            fields.append('cool')
            values.append(d['cool'])
        if 'business_id' in keys:
            fields.append('business_id')
            values.append(d['business_id'])
        if 'user_id' in keys:
            fields.append('user_id')
            values.append(d['user_id']) 

        fields_str = '(' + str(fields)[1:-1] + ')'
        values_str = '(' + str(values)[1:-1] + ')'
        try:
            c.execute("INSERT INTO review"+fields_str+" VALUES " + values_str)
        except:
#             try:
            values[3]=values[3].replace("'", "").replace('"', '')
            values_str = '(' + str(values)[1:-1] + ')'
            c.execute("INSERT INTO review"+fields_str+" VALUES " + values_str)
#             except:
#                 print("error")
#                 errors.append((values, values_str))

In [63]:
c.execute("SELECT COUNT(*) FROM REVIEW")
rows = c.fetchall()
for row in rows:
    print(row) #should print 6685900

(6685900,)

In [62]:
c.execute("Select * FROM user LIMIT 5")
rows = c.fetchall()
for row in rows:
    print(row)

('l6BmjZMeQD3rDxWUbiAiow', 'Rashmi', None, '2013-10-08 23:11:33', 84, 17, 25, 5, 4.03, 2, 0, 0, 0, 0, 1, 1, 1, 1, 2, 0)
('4XChL029mKr5hydo79Ljxg', 'Jenna', None, '2013-02-21 22:29:06', 48, 22, 16, 4, 3.63, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0)
('bc8C_eETBWL0olvFSJJd0w', 'David', None, '2013-10-04 00:16:10', 28, 8, 10, 0, 3.71, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)
('dD0gZpBctWGdWo9WlGuhlA', 'Angela', None, '2014-05-22 15:57:30', 30, 4, 14, 5, 4.85, 1, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0)
('MM4RJAeH6yuaN8oZDSt0RA', 'Nancy', None, '2013-10-23 07:02:50', 1114, 279, 665, 39, 4.08, 28, 1, 0, 0, 1, 16, 57, 80, 80, 25, 5)

In [78]:
# conn = sqlite3.connect('../yelp.db')
# c=conn.cursor()

In [79]:
# c.execute("Select * FROM review LIMIT 5")

In [80]:
# rows = c.fetchall()
# for row in rows:
#     print(row)

In [71]:
# c.execute('Select AVG(stars) FROM review group by strftime("%m", date);')
# rows = c.fetchall()
# for row in rows:
#     print(row)

In [72]:
# c.execute('Select COUNT(*) from user')
# rows = c.fetchall()
# for row in rows:
#     print(row)

(0,)

In [76]:
conn.close()

DatabaseError: database disk image is malformed